.verification-code-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .verification-section {
    border-radius: 10px;
    background-color: #fff;
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px;
    border: 1px solid rgba(191, 191, 191, 0.3);
    margin-top: 150px;
    margin-bottom: 2%;
  }
  
  .verification-title {
    color: #153060;
    font: 400 45px/1 'Open Sans', sans-serif;
  }
  
  .verification-instruction {
    color: #828282;
    letter-spacing: 0.15px;
    margin-top: 32px;
    font: 400 16px 'Open Sans', sans-serif;
  }
  
  .verification-form {
    display: flex;
    margin-top: 32px;
    width: 100%;
    max-width: 537px;
    flex-direction: column;
    align-items: center;
  }
  
  .code-input-container {
    display: flex;
    gap: 24px;
  }
  
  .code-input {
    border-radius: 5px;
    border: 1px solid #9badca;
    width: 84px;
    height: 76px;
    text-align: center;
    font-size: 24px;
  }
  
  .timer {
    color: #af6b04;
    text-align: center;
    letter-spacing: 0.15px;
    margin-top: 24px;
    font: 400 16px 'Open Sans', sans-serif;
  }
  
  .submit-button {
    border-radius: 5px;
    background-color: #2a61a4;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    padding: 18px 32px;
    font: 600 16px 'Open Sans', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 24px;
    width: 100%;
  }
  
  .resend-code-text {
    color: #828282;
    text-align: center;
    letter-spacing: 0.25px;
    margin-top: 32px;
    font: 400 14px/20px 'Open Sans', sans-serif;
  }
  
  .resend-link {
    color: #af6b04;
    text-decoration: none;
  }
  
  @media (max-width: 991px) {
    .verification-section {
      max-width: 100%;
      margin-top: 40px;
      padding: 40px 20px;
    }
  
    .verification-title {
      font-size: 40px;
    }
  
    .verification-instruction,
    .submit-button {
      max-width: 100%;
    }
  }